<%= form_for @photo do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited your photo(s) from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>Apartment Photos:</strong>
    <% @listing.listingphotos.each do |image| %>
    <%= image_tag image.photo.url %>
    <% end %>
  </p>

  <div class="field">
    <%= f.label :photo, 'What Does Your Apartment Look Like?' %>
    <%= f.file_field :photo %> <br>
  </div>

  <div class="actions">
    <%= f.submit "Submit Photo(s)" %>
</div>
<% end %>
