<%= form_tag(login_path, remote: true) do %>
  <% if @user && @user.errors.full_messages.any? %>
    <% @user.errors.full_messages.each do |error_message| %>
    <%= error_message if @user.errors.full_messages.first == error_message %>
    <% end %>
  <% end %>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag 'Login', class: 'btn btn-default' %>
  </div>
<% end %>
