<%= form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :apt_number, 'Apt #' %>
    <%= f.text_field :apt_number %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :rent, 'Monthly Rent' %>
    <%= f.text_field :rent %>
  </div>

  <div class="field">
    <%= f.label :deposit %>
    <%= f.text_field :deposit %>
  </div>

  <div class="field">
    <%= f.label :move_in_date, 'Move-in Date' %>
    <%= date_field_tag :move_in_date, min: Date.today %>
  </div>

  <div class="field">
    <%= f.label :stay_duration, 'Preferred Length of Stay' %>
    <%= range_field_tag :stay_duration_min, in: 1..13, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :in_unit_washer, 'In-Unit Washer' %>
    <%= f.check_box :in_unit_washer %>
  </div>

  <div class="field">
    <%= f.label :wifi_included, 'Wi-fi Included' %>
    <%= f.check_box :wifi_included %>
  </div>

  <div class="field">
    <%= f.label :utilities_included, 'Utilities Included' %>
    <%= f.check_box :utilities_included %>
  </div>

  <div class="field">
    <%= f.label :furnished %>
    <%= f.check_box :furnished %>
  </div>

  <div class="field">
    <%= f.label :elevator %>
    <%= f.check_box :elevator %>
  </div>

  <div class="field">
    <%= f.label :doorman %>
    <%= f.check_box :doorman %>
  </div>

  <div class="field">
    <%= f.label :air_conditioning, 'Air Conditioning' %>
    <%= f.check_box :air_conditioning %>
  </div>

  <div class="field">
    <%= f.label :heating %>
    <%= f.check_box :heating %>
  </div>

  <div class="field">
    <%= f.label :month_to_month, 'Month-to-Month' %>
    <%= f.check_box :month_to_month %>
  </div>

  <div class="field">
    <%= f.label :gym %>
    <%= f.check_box :gym %>
  </div>

  <div class="field">
    <%= f.label :tv, 'TV' %>
    <%= f.check_box :tv %>
  </div>

  <div class="field">
    <%= f.label :own_closet, 'Own Closet' %>
    <%= f.check_box :own_closet %>
  </div>

  <div class="field">
    <%= f.label :pet_friendly, 'Pet Friendly' %>
    <%= f.check_box :pet_friendly %>
  </div>

  <div class="field">
    <%= f.label :private_bathroom, 'Private Bathroom' %>
    <%= f.check_box :private_bathroom %>
  </div>

  <div class="field">
    <%= f.label :kitchen %>
    <%= f.check_box :kitchen %>
  </div>

  <div class="field">
    <%= f.label :no_pets, 'No Pets' %>
    <%= f.check_box :no_pets %>
  </div>

  <div class="field">
    <%= f.label :no_smoking, 'No Smoking' %>
    <%= f.check_box :no_smoking %>
  </div>

  <div class="field">
    <%= f.label :no_drugs, 'No Drugs' %>
    <%= f.check_box :no_drugs %>
  </div>

  <div class="field">
    <%= f.label :no_drinking, 'No Drinking' %>
    <%= f.check_box :no_drinking %>
  </div>

  <div class="field">
    <%= f.label :no_loud_music, 'No Loud Music' %>
    <%= f.check_box :no_loud_music %>
  </div>

  <div class="field">
    <%= f.label :no_overnight_guests, 'No Overnight Guests' %>
    <%= f.check_box :no_overnight_guests %>
  </div>

  <div class="field">
    <%= f.label :no_late_nights, 'No Late Nights' %>
    <%= f.check_box :no_late_nights %>
  </div>


  <div class="field">
    <%= f.label :no_house_guests, 'No House Guests' %>
    <%= f.check_box :no_house_guests %>
  </div>

  <div class="field">
    <%= f.label :image_url, 'What Does Your Apartment Look Like?' %>
    <%= f.text_field :image_url %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
