<p id="notice"><%= notice %></p>
<p>
<% if @listing = current_user.listing %>
  <%= link_to "Edit Your Listing", edit_listing_path %>
<% end %>
</p>
<p>
  <strong>User:</strong>
  <%= User.find(@listing.user_id).name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %><br>
  <%= @listing.city %>, <%= @listing.state %>   <%= @listing.zipcode %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @listing.rent %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @listing.amenities %>
</p>



<p>
  <strong>Image url:</strong>
  <%= @listing.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
