<div class="listing-slides">
  <% if @listing.listingphotos.first %>
    <% if @listing.listingphotos.first %>
    <%= image_tag @listing.listingphotos.first.photo.url, alt:"First slide", class: "photo-slide photo-slide-1 active"%>
    <% end %>

    <% if @listing.listingphotos.second %>
    <%= image_tag @listing.listingphotos.second.photo.url, alt:"Second slide", class: "photo-slide photo-slide-2"%>
    <% end %>

    <% if @listing.listingphotos.third %>
    <%= image_tag @listing.listingphotos.third.photo.url, alt:"Third slide", class: "photo-slide photo-slide-3"%>
    <% end %>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <% else %>
    <%= image_tag "listing_placeholder.png", atl: "No Photos Added", class: "photo-slide active" %>
  <% end %>
</div>

<div class="profile_picture listing-profile">
  <% if @listing.user && @listing.user.picture %>
    <%= image_tag @listing.user.picture %>
  <% elsif @listing.user.avatar.url %>
    <%= image_tag(@listing.user.avatar.url) %>
  <% else %>
    <img src="/assets/missing.jpg">
  <% end %>
  <% unless @listing.user == current_user || current_user.nil? %>
  <div class="similarity_info">
    <div>
      <h1>
        <%= current_user.similarity_with(@listing.user) %>
      </h1>
    </div>
  </div>
  <% end %>
  <div class="profile_panel">
    <h2>
      <%= link_to @listing.user.name, @listing.user %>
    </h2>
    <% if current_user %>
      <% if current_user.friends.include?(@listing.user) %>
          <%= link_to "Email Friend", @listing.user, class: "btn btn-danger" %>
          <br>
          <br>
          <%= link_to "Remove Friend", remove_path %>
          <br>
      <% elsif current_user.requests_to.include?(@listing.user)%>
          <%= link_to "Cancel Request", cancel_path(@listing.user), class: "btn btn-default" %>
      <% elsif current_user.requests_from.include?(@listing.user) %>
          <%= link_to "Accept", accept_path, class: "btn btn-primary" %>
          <%= link_to "Ignore", ignore_path, class: "btn btn-default" %>
      <% elsif current_user == @listing.user %>
        <br>
      <% else %>
          <%= link_to "Add Friend", request_path, class: "btn btn-info" %>
      <% end %>
      <% if @listing.user == current_user && @listing.listingphotos.size < 12 %>
        <%= link_to "Add Apt Photos", new_listingphoto_path, class: "btn btn-success" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="listing-info-bar">
  <div class="listing_info info-rent">
    <h3>$
    <% if @listing && @listing.rent %>
      <%= @listing.rent %>
      </h3>
      <p>
        /month
      </p>
    <% else %>
      </h3>
    <% end %>
  </div>
  <div class="listing_info info-date">
    <p>
    Move-in:
    <% if @listing.move_in_day %>
        <%= @listing.move_in_day %>
    <% elsif @listing.user.responses.last && @listing.user.responses.last.move_in_date %>
      <%= @listing.user.responses.last.move_in_date %>
    <% end %>
    </p>
  </div>
  <div class="listing_info info-duration">
    <p>
    Duration:
    <% if @listing.stay_duration %>
      <%= @listing.stay_duration %>
    <% elsif @listing.user.responses.last && @listing.user.responses.last.duration %>
      <% @listing.user.responses.last.duration %>
    <% end %>
    </p>
  </div>
</div>
<div class="listing-info-bar">
  <div class="listing_info info-description">
    <p>
      Description:
      <% if @listing.description %>
      <%= @listing.description %>
      <% end %>
    </p>
  </div>
</div>

<div id="map" style="
  overflow: hidden;
  width: 54.5em;
  height: 40em;
  position: relative;
  border-top: 0px;
  margin-right: -0.5em;">
</div>

<script>
  window.addresses = [];
  window.addresses.push("<%= [@listing.address, @listing.city, @listing.state, @listing.zipcode].join(",") %>");
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPW_yVez7lt-3QKXCXk97t43Q2TdZkQZQ&libraries=places&callback=initMap"
    async defer></script>
