<p id="notice"><%= notice %></p>
<% if @listing == current_user.listing %>
  <p>
    <%= link_to "Edit Your Listing", edit_listing_path %>
  </p>
<% end %>
<p>
  <strong>User:</strong>
  <%= User.find(@listing.user_id).name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address%>, <%= '#'+@listing.apt_number unless @listing.apt_number == nil%> <%= @listing.city%>, <%= @listing.state%>, <%= @listing.zipcode %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @listing.rent %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @listing.amenities %>
</p>

<p>
  <strong>Rules:</strong>
</p>

<p>
  <strong>Apartment Photos:</strong> <br>
  <% @listing.listingphotos.each do |image| %>
  <div class="listing_preview col-md-3">
    <%= link_to(image_tag(image.photo.url(:medium)), image) %>
  </div>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>


<div id="map"></div>

<script>
  window.addresses = [];
  window.addresses.push("<%= [@listing.address, @listing.city, @listing.state, @listing.zipcode].join(",") %>");
</script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPW_yVez7lt-3QKXCXk97t43Q2TdZkQZQ&libraries=places&callback=initMap"
    async defer></script>


<%= link_to 'Edit Your Apartment', edit_listing_path(@listing) %>
<% if current_user.listing.listingphotos.size < 12 %>
| <%= link_to 'Add Photos to Your Apartment', new_listingphoto_path %>
<% else %>
| <%= link_to 'Edit Your Apartment Photos', listingphoto_path %>
<% end %>
