<p>
  <strong>User:</strong>
  <%= @listing.user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address%>, <%= '#'+@listing.apt_number unless @listing.apt_number == nil%> <%= @listing.city%>, <%= @listing.state%>, <%= @listing.zipcode %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @listing.rent %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @listing.amenities %>
</p>

<p>
  <strong>Rules:</strong>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@listing.image_url(:thumb).to_s) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit Your Apartment', edit_listing_path(@listing) %>
