<p>
  <strong>User:</strong>
  <%= @listing.user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address%>, <%= '#'+@listing.apt_number unless @listing.apt_number == nil%> <%= @listing.city%>, <%= @listing.state%>, <%= @listing.zipcode %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @listing.rent %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @listing.amenities %>
</p>

<p>
  <strong>Rules:</strong>
</p>

<p>
  <strong>Apartment Photos:</strong> <br>
  <% @listing.listingphotos.each do |image| %>
  <div class="listing_preview col-md-3">
    <%= link_to(image_tag(image.photo.url(:medium)), image) %>
  </div>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit Your Apartment', edit_listing_path(@listing) %>
<% if current_user.listing.listingphotos.size != 0 && current_user.listing.listingphotos.size < 12 %>
| <%= link_to 'Add Photos to Your Apartment', new_listingphoto_path %>
<% else %>
| <%= link_to 'Edit Your Apartment Photos', listingphoto_path %>
<% end %>
