<div class="profile_picture2">
  <% if @user && @user.avatar.url %>
  <%= image_tag @user.avatar.url %>
  <% elsif @user && @user.picture %>
    <%= image_tag @user.picture %>
  <% else %>
    <img src="/assets/missing.jpg">
  <% end %>

  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit 'Update Profile Picture' %>
      <% if @user.avatar %>
        <%= button_to "Remove Picture", avatar_destroy_path, class: "btn btn-danger" %>
      <% end %>
    </div>

  <% end %>
  <%= link_to "Return to Profile", user_path, class: "btn btn-default edit_avatar" %>
</div>
