<p id="notice"><%= notice %></p>

<div class="profile_picture">
  <%= image_tag @user.picture if @user.picture %>
  <div class="similarity_info">
    <h1>
      <%= current_user.similarity_with(@user) %>
    </h1>

    <div class="profile_info">
      <h2>
        <%= @user.name %>
      </h2>
    </div>

    <% if current_user.friends.include?(@user) %>
      <p>
        <strong>Email:</strong>
        <%= link_to "Email Friend", @user.email %>
        <%= link_to "Remove Friend", remove_path %>
      </p>
    <% elsif current_user.requests_to.include?(@user)%>
      <p>
        <%= link_to "Cancel Request", cancel_path(@user) %>
      </p>
    <% elsif current_user.requests_from.include?(@user) %>
      <p>
        <%= link_to "Accept", accept_path %><br>
        <%= link_to "Ignore", ignore_path %>
      </p>
    <% elsif current_user == @user %>
      <p>
      </p>
    <% else %>
      <p>
        <%= link_to "Add Friend", request_path, class: "btn btn-success" %>
      </p>
    <% end %>
    <p>
      <%= link_to "Questionnaire", response_path %>
    </p>
  </div>
</div>


<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Return to Home Page', root_path %>
