<p id="notice"><%= notice %></p>

<div class="profile_picture profile">
  <% if @user && @user.avatar.url %>
  <%= image_tag @user.avatar.url %>
  <% elsif @user && @user.picture %>
    <%= image_tag @user.picture %>
  <% else %>
    <img src="/assets/missing.jpg">
  <% end %>
  <% unless @user == current_user %>
  <div class="similarity_info">
    <div>
      <h1>
        <%= current_user.similarity_with(@user) %>
      </h1>
    </div>
  </div>
  <% end %>
  <div class="profile_panel">
    <h2>
      <%= @user.name %>
    </h2>

    <% if current_user.friends.include?(@user) %>
        <%= link_to "Email Friend", @user, class: "btn btn-danger" %>
        <br>
        <br>
        <%= link_to "Remove Friend", remove_path %>
        <br>
    <% elsif current_user.requests_to.include?(@user)%>
        <%= link_to "Cancel Request", cancel_path(@user), class: "btn btn-default" %>
    <% elsif current_user.requests_from.include?(@user) %>
        <%= link_to "Accept", accept_path, class: "btn btn-primary" %>
        <%= link_to "Ignore", ignore_path, class: "btn btn-default" %>
    <% elsif current_user == @user %>
      <br>
    <% else %>
        <%= link_to "Add Friend", request_path, class: "btn btn-info" %>
    <% end %>
    <% if @user.responses.last.nil? && @user == current_user %>
      <%= link_to "Complete Questionnaire", questionnaire_path, class: "btn btn-success" %>
      <% else %>
      <%= link_to "Edit Questionnaire", questionnaire_path, class: "btn btn-success" %>
    <% end %>
    <% if @user == current_user %>
      <%= link_to 'Edit Login', edit_user_path(@user),  class: "btn btn-default edit_profile"%>
      <span>
      <%= link_to 'Edit Profile Picture', avatar_path, class: "btn btn-default edit_profile" %>
      </span>
    <% end %>
  </div>
</div>

<div class="profile_info">
  <div class="">
    <h3>
      Neighborhood
    </h3>
  </div>

  <div class="">
    <h3>
      Budget
    </h3>
    <% if @user.responses.last %>
      <% if @user.responses.last.budget_min || @user.responses.last.budget_max %>
        <p>
          $<%= @user.responses.last.budget_min %> -
          $<%= @user.responses.last.budget_max %>
        </p>
      <% end %>
    <% end %>

  </div>

  <div class="">
    <h3>
      Move-in Date
    </h3>
    <% if @user.responses.last &&  @user.responses.last.move_in_date%>
      <p>
        <%= @user.responses.last.move_in_date.gsub("-", " ") %>
      </p>
    <% end %>
  </div>

  <div class="">
    <h3>
      Questionnaire
      <button type="button" name="toggle-questionnaire"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </h3>
    <div class="questionnaire">
      <% if @user.responses.last %>
        <% if @user == current_user %>
          <p>
            <%= link_to "Edit Questionnaire", questionnaire_path %>
          </p>
        <% end %>
        <p>
          <% if @user.responses.last.age_early_20s || @user.responses.last.age_late_20s ||
             @user.responses.last.age_30s || @user.responses.last.age_40s_older %>
             Age:
             <% if @user.responses.last.age_early_20s %>
              Early 20s
             <% elsif @user.responses.last.age_late_20s %>
              Late 20s
              <% elsif @user.responses.last.age_30s %>
              30s
             <% @user.responses.last.age_40s_olders %>
             40s and Older
             <% end %>
            <% end %>
          <% @user.responses.last.attributes.each do |response| %>
            <p>
              <% unless response[0] == "id" || response[0] == "user_id" ||
                 response[0] == "created_at" || response[0] == "updated_at" ||
                 response[0] == "move_in_date" || response[0] == "age_early_20s" || response[0] == "age_late_20s" || response[0] == "age_30s" || response[0] == "age_40s_older" || response[1] == nil %>
                <%= response[0].gsub("_", " ").capitalize %> : <%= response[1].gsub("_", " ").capitalize %>
              <% end %>
            </p>
          <% end %>
        </p>
        <% if @user == current_user %>
          <p>
            <%= link_to "Edit Questionnaire", questionnaire_path %>
          </p>
        <% end %>
      <% else %>
        <p>
          Questionnaire hasn't been filled out.
        </p>
      <% end %>
    </div>
  </div>
</div>

<div class="profile_listing_info">
  <% if @user.listing && @user.listing.listingphotos.first %>
    <!-- <button type="button" data-toggle="modal" data-target="#preview"> -->
    <div class="profile-listing-photo">
      <%= link_to image_tag(@user.listing.listingphotos.first.photo.url), @user.listing %>
    </div>
    <!-- </button> -->
    <% if @user.listing.rent %>
      <div class="listing_rent">
        <h2>
          $<%= @user.listing.rent %>
        </h2>
      </div>
    <% end %>
    <!-- <div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="previewLabel">
          <div class="preview modal-header">
            <button type="button" class="preview close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="preview modal-body">
            <%= image_tag(@user.listing.listingphotos.first.photo.url) %>
          </div>
    </div> -->
  <% elsif @user == current_user && current_user.listing && current_user.listing.listingphotos.first.nil? %>
    <%= link_to 'Add Apartment Photos', new_listingphoto_path, class: "btn btn-success" %>
  <% end %>
</div>
