<p id="notice"><%= notice %></p>

<div class="profile_picture">
  <% if @user.picture %>
    <%= image_tag @user.picture %>
  <% else %>
    <img src="http://placehold.it/350x150">
  <% end %>
  <div class="similarity_info">
    <h1>
      <%= current_user.similarity_with(@user) %>
    </h1>
  </div>
  <div class="profile_panel">
    <h2>
      <%= @user.name %>
    </h2>

    <% if current_user.friends.include?(@user) %>
        <%= link_to "Email Friend", @user, class: "btn btn-danger" %>
        <br>
        <br>
        <%= link_to "Remove Friend", remove_path %>
        <br>
    <% elsif current_user.requests_to.include?(@user)%>
        <%= link_to "Cancel Request", cancel_path(@user), class: "btn btn-default" %>
    <% elsif current_user.requests_from.include?(@user) %>
        <%= link_to "Accept", accept_path, class: "btn btn-primary" %>
        <%= link_to "Ignore", ignore_path, class: "btn btn-default" %>
    <% elsif current_user == @user %>
      <br>
    <% else %>
        <%= link_to "Add Friend", request_path, class: "btn btn-info" %>
    <% end %>
    <% if @user.responses.last.nil? && @user == current_user %>
      <%= link_to "Complete Questionnaire", response_path, class: "btn btn-success" %>
    <% end %>
    <% if @user == current_user %>
      <br>
      <%= link_to 'Edit Profile', edit_user_path(@user),  class: "btn btn-default edit_profile"%>
    <% end %>
  </div>
</div>

<div class="profile_info">
  <div class="">
    <h3>
      Neighborhood
    </h3>
  </div>

  <div class="">
    <h3>
      Budget
    </h3>
  </div>

  <div class="">
    <h3>
      Move-in Date
    </h3>
    <% if @user.responses.last &&  @user.responses.last.move_in_date%>
      <p>
        <%= @user.responses.last.move_in_date.gsub("-", " ") %>
      </p>
    <% end %>
  </div>

  <div class="">
    <h3>
      Questionnaire
      <button type="button" name="toggle-questionnaire"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </h3>
    <div class="questionnaire">
      <% if @user.responses.last %>
        <p>
          <% @user.responses.last.attributes.each do |response| %>
            <p>
              <% unless response[0] == "id" || response[0] == "user_id" || response[0] == "created_at" || response[0] == "updated_at" || response[0] == "move_in_date" || response[1] == nil %>
                <%= response[0].gsub("_", " ").capitalize %> : <%= response[1].gsub("_", " ").capitalize %>
              <% end %>
            </p>
          <% end %>
        </p>
      <% else %>
        <p>
          Questionnaire hasn't been filled out.
        </p>
      <% end %>
    </div>
  </div>
</div>
