<p id="notice"><%= notice %></p>

<div class="profile_picture">
  <% if @user.picture %>
    <%= image_tag @user.picture %>
  <% else %>
    <img src="http://placehold.it/350x150">
  <% end %>
  <div class="similarity_info">
    <h1>
      <%= current_user.similarity_with(@user) %>
    </h1>
  <!-- </div> -->
      <h2>
        <%= @user.name %>
      </h2>

    <% if current_user.friends.include?(@user) %>
        <%= link_to "Email Friend", @user, class: "btn btn-danger" %>
        <br>
        <br>
        <%= link_to "Remove Friend", remove_path %>
        <br>
    <% elsif current_user.requests_to.include?(@user)%>
        <%= link_to "Cancel Request", cancel_path(@user), class: "btn btn-default" %>
    <% elsif current_user.requests_from.include?(@user) %>
        <%= link_to "Accept", accept_path, class: "btn btn-primary" %><br>
        <%= link_to "Ignore", ignore_path, class: "btn btn-default" %>
    <% elsif current_user == @user %>
      <br>
    <% else %>
        <%= link_to "Add Friend", request_path, class: "btn btn-info" %>
    <% end %>
    <%= link_to "Questionnaire", response_path, class: "btn btn-success" %>
    <% if @user == current_user %>
      <br>
      <%= link_to 'Edit Profile', edit_user_path(@user),  class: "btn btn-default edit_profile"%>
    <% end %>
  </div>
</div>

<div class="profile_info">
  <h3>
    Neighborhood
  </h3>
  <h3>
    Budget
  </h3>
  <h3>
    Move-in Date
  </h3>
  <h3>
    Questionnaire
  </h3>
</div>
