<div id="navbar-leftpic">
  <div class="navbar-left">
    <%= link_to root_path, class: "navbtnpic" do %>
    <%= image_tag '/assets/logosmall.png', width: 140, height: 90, alt: 'MoveIn Logo'%>
    <% end %>
  </div>
</div>
<div id="navbar">
  <div class="navbar-right">
    <% if current_user %>
      <%= link_to current_user.name, current_user, class: "navbtn" %>
      <% if current_user.listing %>
        <%= link_to 'Your Listing', listing_path(current_user.listing), class: "navbtn" %>
      <% else %>
        <%= link_to 'List Your Apartment', new_listing_path, class: "navbtn" %>
      <% end %>
      <%= link_to "Friends", friends_path, class: "navbtn" %>
      <%= link_to "Logout", logout_path, class: "navbtn" %>
    <% else %>
      <a class="navbtn" data-toggle="modal" data-target="#myModal">
        Login
      </a>
      <a class="navbtn" data-toggle="modal" data-target="#signup">
        Signup
      </a>
    <% end %>
  </div>
  <div id="flashbar">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  </div>
</div>


<!-- Signup modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signupLabel">Hello and Welcome! <br>Please Signup</h4>
      </div>
      <div class="modal-body">
        <span id="login_body">
          <%= link_to 'Signup with Email', 'javascript:void(0)', type: "button", class: "btn-danger signup_email login_buttons", "data-toggle" => "tab", role: "tab  " %>
          <br>
          <%= link_to "Sign up with Facebook", facebook_login_path, type: "button", class: "btn-primary login_buttons" %>
        </span>
        <br>
        Already have an account?
        <%= link_to 'Login with Email', login_path, id: 'loginpopup' %>
      </div>
      <div class="tab-content">
        <!-- Login with Email -->
        <div class="tab-pane" id="register" role="tabpanel">
          <!-- <h1>Register</h1> -->
          <!-- <% unless current_user %> -->
            <%= render 'users/form' %>
          <!-- <% end %> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome Back, <br>Please Login</h4>
      </div>
      <div class="modal-body">
        <span id="login_body">
          <%= link_to 'Login with Email', 'javascript:void(0)', type: "button", class: "btn-danger login_email login_buttons", "data-toggle" => "tab", role: "tab" %>
          <br id="mobile_button_spacing">
          <%= button_to "Login with Facebook", facebook_login_path, type: "button", class: "btn-primary login_buttons"  %>
        </span>
        <br>
        <br>
        <%= link_to "Don't have an account?", register_path, id: 'signuppopup' %>
      </div>
      <div class="tab-content">
        <!-- Login with Email -->
        <div class="tab-pane" id="login" role="tabpanel">
          <!-- <h1>Login</h1> -->
          <!-- <% unless current_user %> -->
            <%= render 'sessions/form' %>
          <!-- <% end %> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Login with Email -->
