<div class="jumbotron jumbotron-fluid homepageimg">
  <div class="container">
    <h1 id="hometitle">Live in Harmony</h1>
    <h4 id="homebody">Find Your Ideal Roommate, Your Ideal Apartment</h4>
      <%= form_tag page_search_path, method: :get, class: 'search-form' do %>
      <span><%= search_field_tag :term, nil, class: 'form-control' %>
      <button type="submit" class="btn btn-primary searchbar">Search</button></span>
      <% end %>
      <%= params[:term] %>
    </div>
  </div>
<% if current_user %>
  <% if current_user.listing %>
   <div class="indextext">
     Already Have an Apartment listed?
   </div>
   <div id="indextxt">
     Edit it below as you continue to look at thousands of compatible roommates!
   </div>
   <div class="fuckcss">
     <%= link_to 'Edit Your Listing', listing_path(current_user.listing), class: 'editlistbtn' %>
   </div>
  <% else %>
   <div class="indextext">
     Have an Apartment? Perfect!
   </div>
   <div id="indextxt">
     With our matching algorithm, we'll connect you with thousands of compatible roommates!
   </div>
   <div class="fuckcss">
     <%= link_to 'List Your Apartment', new_listing_path, class: 'listbtn' %>
   </div>
  <% end %>
  <% else %>
  <div class="indextext">
    Have an Apartment? Looking for a roommate?
  </div>
  <div id="indextxt">
    With our matching algorithm, we'll connect you with thousands of compatible roommates!
  </div>
  <div id="fuckcss">
    <button type="button" class="btn-primary btn-md btn-square listbtn" data-toggle="modal" data-target="#signup">
      Register Today
    </button>
  </div>
  <% end %>

<div id="map"></div>
<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>
</div>

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPW_yVez7lt-3QKXCXk97t43Q2TdZkQZQ&libraries=places&callback=initAutocomplete"
    async defer></script>
