<div class="jumbotron jumbotron-fluid homepageimg">
  <div class="container">
    <h1 id="hometitle">Live in Harmony</h1>
    <h4 id="homebody">Find Your Ideal Roommate, Your Ideal Apartment</h4>
      <%= form_tag page_search_path, method: :get, class: 'search-form' do %>
      <span><%= search_field_tag :term, nil, class: 'form-control' %>
      <button type="submit" class="btn btn-primary searchbar">Search</button></span>
      <% end %>
      <%= params[:term] %>
    </div>
  </div>
<% if current_user %>
  <% if current_user.listing %>
   <div class="indextext">
     Already Have an Apartment listed?
   </div>
   <div id="indextxt">
     Edit it below as you continue to look at thousands of compatible roommates!
   </div>
   <div class="mainpagebtn">
     <%= link_to 'Edit Your Listing', listing_path(current_user.listing), class: 'editlistbtn' %>
   </div>
  <% else %>
   <div class="indextext">
     Have an Apartment? Perfect!
   </div>
   <div id="indextxt">
     With our matching algorithm, we'll connect you with thousands of compatible roommates!
   </div>
   <div class="mainpagebtn">
     <%= link_to 'List Your Apartment', new_listing_path, class: 'listbtn' %>
   </div>
  <% end %>
  <% else %>
  <div class="indextext">
    Have an Apartment? Looking for a Roommate?
  </div>
  <div id="indextxt">
    With our matching algorithm, we'll connect you with thousands of compatible roommates!
  </div>
  <div id="mainpagebtn">
    <button type="button" class="btn-primary btn-md btn-square listbtn" data-toggle="modal" data-target="#signup">
      Register Today
    </button>
  </div>
  <% end %>

  <div class="jumbotron jumbotron-fluid featuresimg">
    <div class="container">
      <h1 id="hometitle2">Bringing Balance Back to Your Home</h1>
      <h4 id="homebody2">Securely search through users with our compatibility search.</h4>
      </div>
    </div>
  <div class="">
  </div>
  <div class="indextext">
    The Ideal Roommate, the Perfect Place
  </div>
  <br>
  <div id="container5">
	<div id="container4">
		<div id="container3">
			<div id="container2">
				<div id="container1">
					<div id="col1">
						<h2></h2>
						<p></p>
					</div>
					<div id="col2">
            <img src="/assets/iconhouse.png" alt="House" style="width:49px;height:46px;">
            <h4 id="tag">Simplify the Process</h2>
            <p id="tagtext">Quickly create your profile and start finding apartments and roommates who you match with.</p>
					</div>
					<div id="col3">
            <img src="/assets/iconsearch.png" alt="House" style="width:45px;height:46px;">
            <h4 id="tag">Save Time and Heartbreak</h2>
            <p id="tagtext">Discover the rules of apartments you're interested in.</p>
					</div>
					<div id="col4">
            <img src="/assets/iconfriends.png" alt="House" style="width:49px;height:46px;">
            <h4 id="tag">Simple Compatibility Searching</h2>
            <p id="tagtext">Search through users by city and compatibility and save users you like.</p>
					</div>
					<div id="col5">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer">
  <div class="navbar-left">
    <%= link_to "Return to Top", root_path, class: "navbtn" %>
  </div>
  <div id="footctr">
    <%= link_to 'About Us', 'page/about', class: "navbtn" %>
  </div>
  <div class="navbar-right">
    Copyright (c) 2017
  </div>
</div>

<div id="map indexmap"></div>
<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>
</div>

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPW_yVez7lt-3QKXCXk97t43Q2TdZkQZQ&libraries=places&callback=initAutocomplete"
    async defer></script>
