<div class="jumbotron jumbotron-fluid homepageimg">
  <div class="container">
    <h1 id="hometitle">New Beginnings, Endless Possibilities</h1>
    <br>
    <h4 id="homebody">New in town? Find your ideal roommate and browse through thousands of available listings.
</h4>
      <%= form_tag page_search_path, method: :get, class: 'search-form' do %>
      <span><%= search_field_tag :term, nil, placeholder: "Enter a City", class: 'form-control' %>
      <button type="submit" class="btn btn-primary searchbar">Search</button></span>
      <% end %>
      <%= params[:term] %>
    </div>
  </div>
<% if current_user %>
  <% if current_user.listing %>
   <div class="indextext">
     Already Have an Apartment listed?
   </div>
   <div id="indextxt">
     <br>
     Edit your listing as you continue to search for that perfect roommate!
   </div>
   <div class="mainpagebtn">
     <%= link_to 'Edit Your Listing', listing_path(current_user.listing), class: 'btn btn-primary searchbar' %>
   </div>
  <% elsif %>
   <div class="indextext">
     You Made the Move, Now What?
   </div>
   <div id="indextxt">
     <br>
     Post your listing in front of thousands of verified roommates.
   </div>
   <div class="mainpagebtn">
     <%= link_to 'List It', new_listing_path, class: 'btn btn-primary searchbar' %>
   </div>
  <% end %>
  <% else %>
  <div class="indextext">
    You Made the Move, Now What?
  </div>
  <div id="indextxt">
    <br>
    Post your listing in front of thousands of verified roommates.
  </div>
  <div id="mainpagebtn">
    <button type="button" class="btn btn-primary searchbar" data-toggle="modal" data-target="#signup">
      List It
    </button>
  </div>
  <% end %>

  <div class="jumbotron jumbotron-fluid featuresimg">
    <div class="container">
      <h1 id="hometitle2">Roommate Hunting Without the Hassle.</h1>
      <h4 id="homebody2">Connect with thousands of potential roommates with our compatibility test.</h4>
      </div>
      <br>
      <div id="mainpagebtn">
      <% if current_user %>
           <%= link_to "Let's Go", friends_path, class: 'btn btn-primary searchbar two' %>
        <% else %>
          <a class="btn btn-primary searchbar two" data-toggle="modal" data-target="#signup">
            Let's Go
          </a>
        <% end %>
      </div>
    </div>
  <div class="">
  </div>
  <div class="indextext">
    The Ideal Roommate, the Perfect Place
  </div>
  <br>
  <div id="container5">
	<div id="container4">
		<div id="container3">
			<div id="container2">
				<div id="container1">
					<div id="col1">
						<h2></h2>
						<p></p>
					</div>
					<div id="col2">
            <img src="/assets/iconhouse.png" alt="House" style="width:49px;height:46px;">
            <h4 id="tag">Save Time</h2>
            <p id="tagtext">Looking for a room? Create your profile in minutes and search for compatible roommates by location.</p>
					</div>
					<div id="col3">
            <img src="/assets/iconsearch.png" alt="House" style="width:45px;height:46px;">
            <h4 id="tag">Simplify the Process</h2>
            <p id="tagtext">Opening a room in your apartment? Input your listing then establish living criteria and house rules.</p>
					</div>
					<div id="col4">
            <img src="/assets/iconfriends.png" alt="House" style="width:49px;height:46px;">
            <h4 id="tag">Accurate Compatibility Matching</h2>
            <p id="tagtext">Browse through matches and start connecting! Save user profiles that you like for easy reference.</p>
					</div>
					<div id="col5">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer">
  <div class="navbar-left">
    <%= link_to root_path, class: "navbtnbottompic" do %>
    <%= image_tag '/assets/movein.png', width: 300, height: 250, alt: 'MoveIn Logo'%>
<% end %>
  </div>
  <div id="footctr">
    <%= link_to 'What Can We Do For You?', 'page/about', class: "navbtnbottom" %>
    <div id='aboutus'>
MoveIn is an all-inclusive app that connects you to potential roommates that match well with your living habits and personality while helping you find the perfect place to live. Our app offers thousands of available listings to browse through and our compatibility test allows you to view roommate profiles that are catered to your preferences.
<br>
<br>
All users undergo background checks which help to verify roommate profiles and ensure your safety. Whether you're new to town or planning a move, MoveIn turns the problem of roommate hunting into a simple and fun way of connecting with those in your area and restoring balance to your home.
  </div>
  </div>
  <div class="navbar-right">
    Copyright (c) 2017
  </div>
</div>

<div id="map indexmap"></div>
<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon">
  <span id="place-name"  class="title"></span><br>
  <span id="place-address"></span>
</div>

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPW_yVez7lt-3QKXCXk97t43Q2TdZkQZQ&libraries=places&callback=initAutocomplete"
    async defer></script>
