<% if @listings.nil? %>
  No results found.
<% else %>
<%= form_tag page_search_path, method: :get, class: 'search-form' do %>
<span><%= search_field_tag :term, nil, class: 'form-control' %>
<button type="submit" class="btn btn-primary searchbar">Search</button></span>
<% end %>
<%= params[:term] %>
  <script>
    window.addresses = [];
  </script>
  <div class="search_results col-md-8">
    <% @listings.each do |listing| %>
      <% if current_user %>
        <% unless listing.user_id == current_user.id %>
          <script>
            window.addresses.push("<%= [listing.address, listing.city, listing.state, listing.zipcode].join(",") %>");
          </script>
          <% if listing.listingphotos.first %>
            <div class="listing_result">
              <%= link_to image_tag(listing.listingphotos.first.photo.url), listing, class: "listing_photo" %>
              <% if listing.user && listing.user.picture %>
              <%= link_to image_tag(listing.user.picture), listing.user, class: "user_photo" %>
              <% end %>
              <% if listing.rent %>
                <div class="listing_rent">
                  <h2>
                    $<%= listing.rent %>
                  </h2>
                </div>
              <% end %>
            </div>
          <% elsif listing.user_id %>
            <!-- <p>
              <%= link_to User.find(listing.user_id).name, User.find(listing.user_id) %> |
              <%= current_user.similarity_with(User.find(listing.user_id)) %> |
              <%= link_to listing.address, listing %>
              <%= listing.city %>
              <%= listing.state %>
              <%= listing.zipcode %>
            </p> -->
          <% end %>
        <% end %>
      <% else %>
        <script>
          window.addresses.push("<%= [listing.address, listing.city, listing.state, listing.zipcode].join(",") %>");
        </script>
        <p>
          <%= link_to User.find(listing.user_id).name, User.find(listing.user_id) %> |
          <%= link_to listing.address, listing %>
          <%= listing.city %>
          <%= listing.state %>
          <%= listing.zipcode %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
<!-- <h3>Users</h3>
<% if @users.nil? %>
  No results found.
<% else %>
  <% @users.each do |user| %>
    <p><%= link_to user.name, user %></p>
    <p>
      <% if user.responses.last %>
      | <%= link_to current_user.similarity_with(user), response_path(user) %>
      <% end %>
  </p>
  <% end %>
<% end %> -->


<div id="map" class="col-md-4"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPW_yVez7lt-3QKXCXk97t43Q2TdZkQZQ&libraries=places&callback=initMap"
    async defer></script>
