<% if @listings.nil? %>
  No results found.
<% else %>
<!-- <%= form_tag page_search_path, method: :get, class: 'search-form' do %>
<span><%= search_field_tag :term, nil, class: 'form-control' %>
<button type="submit" class="btn btn-primary searchbar">Search</button></span>
<% end %> -->
  <script>
    window.addresses = [];
  </script>
  <div class="search_results">
    <% @listings.each do |listing| %>
      <% if current_user %>
      <% unless listing.user_id == current_user.id %>
        <script>
          window.addresses.push("<%= [listing.address, listing.city, listing.state, listing.zipcode].join(",") %>");
        </script>
        <% if listing.listingphotos.first %>
          <div class="listing_result">
            <%= link_to image_tag(listing.listingphotos.first.photo.url), listing, class: "listing_photo" %>
            <% if listing.user && listing.user.picture %>
            <%= link_to image_tag(listing.user.picture), listing.user, class: "user_photo" %>
            <% end %>
            <% if listing.rent %>
              <div class="listing_rent">
                <h2>
                  $<%= listing.rent %>
                </h2>
              </div>
            <% end %>
          </div>
        <% elsif listing.user_id %>
          <script>
          window.addresses.push("<%= [listing.address, listing.city, listing.state, listing.zipcode].join(",") %>");
          </script>
          <% if listing.listingphotos.first %>
            <div class="listing_result">
              <%= link_to image_tag(listing.listingphotos.first.photo.url), listing, class: "listing_photo" %>
              <% if listing.user && listing.user.picture %>
              <%= link_to image_tag(listing.user.picture), listing.user, class: "user_photo" %>
              <% end %>
              <% if listing.rent %>
                <div class="listing_rent">
                  <h2>
                    $<%= listing.rent %>
                  </h2>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%# else %>
      <% end %>
    <% end %>
  </div>
<% end %>
<div id="map" class="search-map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPW_yVez7lt-3QKXCXk97t43Q2TdZkQZQ&libraries=places&callback=initMap"
async defer></script>
