<h2>Search Results</h2>

<br>

<h3>Listings</h3>

<% if @listings.nil? %>
  No results found.
  <% else %>
  <script>
    window.addresses = [];
  </script>
  <% @listings.each do |listing| %>
    <% unless listing.user_id == current_user.id %>
      <!-- <% if listing %> -->
        <script>
          window.addresses.push("<%= [listing.address, listing.city, listing.state, listing.zipcode].join(",") %>");
        </script>
        <p>
          <%= link_to User.find(listing.user_id).name, User.find(listing.user_id) %> |
          <%= current_user.similarity_with(User.find(listing.user_id)) %> |
          <%= link_to listing.address, listing %>
          <%= listing.city %>
          <%= listing.state %>
          <%= listing.zipcode %>
        </p>
      <!-- <% end %> -->
    <% end %>
  <% end %>
<% end %>
<!-- <h3>Users</h3>
<% if @users.nil? %>
  No results found.
<% else %>
  <% @users.each do |user| %>
    <p><%= link_to user.name, user %></p>
    <p>
      <% if user.responses.last %>
      | <%= link_to current_user.similarity_with(user), response_path(user) %>
      <% end %>
  </p>
  <% end %>
<% end %> -->


<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPW_yVez7lt-3QKXCXk97t43Q2TdZkQZQ&libraries=places&callback=initMap"
    async defer></script>
