<h2>Search Results</h2>
<br>
<h3>Listings</h3>
<% if @listings.empty? %>
No results found.
<% else %>
<% @listings.each do |listing| %>
<p>
  <%= link_to listing.address, listing %>
  <%= listing.city %>
  <%= listing.state %>
  <%= listing.zipcode %>
</p>
<% end %>
<% end %>
<h3>Users</h3>
<% if @users.empty? %>
  No results found.
<% else %>
  <% @users.each do |user| %>
    <p><%= link_to user.name, user %></p>
    <p>
      <% if user.responses.last %>
      | <%= link_to current_user.similarity_with(user), response_path(user) %>
      <% end %>
  </p>
  <% end %>
<% end %>
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 50%;
        float: right;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcCLcfNjQHnRAejZGbZU7MN6Fh7iJtK8k&callback=initMap"
    async defer></script>
  </body>
</html>
