<h1>Questionnaire</h1>
<hr>
<%= form_tag '/questionnaire' do %>
  <h2>I'm looking for...</h2>
  <h3>Nothing is required, but more completion = better matches</h3>
  <br>

  <div class="field">
    Ages:
    <br>
    <%= label_tag :age_early_20s, "Early 20s" %>
    <%= check_box_tag :age_early_20s %>
    <%= label_tag :age_late_20s, "Late 20s" %>
    <%= check_box_tag :age_late_20s %>
    <%= label_tag :age_30s, "30s" %>
    <%= check_box_tag :age_30s %>
    <%= label_tag :age_40s_older, "40s and Older" %>
    <%= check_box_tag :age_40s_older %>
  </div>

  <div class="field">
    Gender:
    <%= label_tag :gender_male, "Male" %>
    <%= radio_button_tag :gender, "male" %>
    <%= label_tag :gender_female, "Female" %>
    <%= radio_button_tag :gender, "female" %>
    <%= label_tag :gender_either, "Either" %>
    <%= radio_button_tag :gender, "either"%>
  </div>

  <div class="field">
    What's Your Monthly Budget:
    <%= label_tag :budget_min, "Min" %>
    <%= range_field_tag :budget_min, in: 0..10000, step: 50 %>
    <%= label_tag :budget_max, "Max" %>
    <%= range_field_tag :budget_max, in: 0..10000, step: 50 %>
  </div>

  <div class="field">
    <%= label_tag :move_in_date, "When Do You Want to Move In" %>
    <%= date_field_tag :move_in_date, min: Date.today %>
  </div>

  <div class="field">
    How Long Do You Want to Stay:
    <%= label_tag :duration_short, "Short (0-3 Months)" %>
    <%= radio_button_tag :duration, "short" %>
    <%= label_tag :duration_mid, "Mid (3-12 months)" %>
    <%= radio_button_tag :duration, "mid" %>
    <%= label_tag :duration_long, "Long (12+ months)" %>
    <%= radio_button_tag :duration, "long"%>
  </div>

  <div class="field">
    Do You Have a Pet:
    <%= label_tag :pet_dog, "Dog" %>
    <%= check_box_tag :pet_dog %>
    <%= label_tag :pet_cat, "Cat" %>
    <%= check_box_tag :pet_cat %>
    <%= label_tag :pet_other, "Other" %>
    <%= text_field_tag :pet_other %>
  </div>

  <div class="field">
    Do You Like Pets:
    <%= label_tag :like_pet_dog, "Dog" %>
    <%= check_box_tag :like_pet_dog %>
    <%= label_tag :like_pet_cat, "Cat" %>
    <%= check_box_tag :like_pet_cat %>
    <%= label_tag :like_pet_other, "Other" %>
    <%= text_field_tag :like_pet_other %>
  </div>

  <div class="field">
    What Time Do You Wake Up:
    <%= label_tag :wakeup_early, "Early Morning (4-6AM)" %>
    <%= radio_button_tag :wakeup, "early" %>
    <%= label_tag :wakeup_morning, "Morning (7-9AM)" %>
    <%= radio_button_tag :wakeup, "morning" %>
    <%= label_tag :wakeup_late, "Late (10AM+)" %>
    <%= radio_button_tag :wakeup, "late"%>
  </div>

  <div class="field">
    What Time Do You Go to Sleep:
    <%= label_tag :bedtime_early, "Early (7-9PM)" %>
    <%= radio_button_tag :bedtime, "early" %>
    <%= label_tag :bedtime_late, "Late (10PM-12AM)" %>
    <%= radio_button_tag :bedtime, "late" %>
    <%= label_tag :bedtime_night_owl, "Night Owl (12PM+)" %>
    <%= radio_button_tag :bedtime, "night_owl"%>
  </div>

  <div class="field">
    What Is Your Work Schedule:
    <%= label_tag :work_standard, "Standard (9AM-5PM)" %>
    <%= radio_button_tag :work, "standard" %>
    <%= label_tag :work_nights, "Nights (7PM-2AM)" %>
    <%= radio_button_tag :work, "nights" %>
    <%= label_tag :work_graveyard, "Graveyard (11PM-8AM)" %>
    <%= radio_button_tag :work, "graveyard"%>
  </div>

  <div class="field">
    Do You Work From Home:
    <%= label_tag :work_from_home_yes, "Yes" %>
    <%= radio_button_tag :work_from_home, "yes" %>
    <%= label_tag :work_from_home_no, "No" %>
    <%= radio_button_tag :work_from_home, "no" %>
  </div>

  <div class="field">
    Do You Mind Overnight Guests:
    <%= label_tag :overnight_guests_yes, "Yes" %>
    <%= radio_button_tag :overnight_guests, "yes" %>
    <%= label_tag :overnight_guests_no, "No" %>
    <%= radio_button_tag :overnight_guests, "no" %>
  </div>

  <div class="field">
    Are You in a Relationship:
    <%= label_tag :relationship_yes, "Yes" %>
    <%= radio_button_tag :relationship, "yes" %>
    <%= label_tag :relationship_no, "No" %>
    <%= radio_button_tag :relationship, "no" %>
  </div>

  <div class="field">
    If Yes:
    <%= label_tag :relationship_type_casual, "Casual" %>
    <%= radio_button_tag :relationship_type, "casual" %>
    <%= label_tag :relationship_type_serious, "Serious" %>
    <%= radio_button_tag :relationship_type, "serious" %>
  </div>

  <div class="field">
    Do You Smoke:
    <%= label_tag :smoking_yes, "Yes" %>
    <%= radio_button_tag :smoking, "yes" %>
    <%= label_tag :smoking_no, "No" %>
    <%= radio_button_tag :smoking, "no" %>
    <%= label_tag :smoking_420, "Not Cigarettes..." %>
    <%= radio_button_tag :smoking, "420" %>
  </div>

  <div class="">
    Could You Live With Someone Who Was Messy:
    <%= label_tag :messy_yes, "Yes" %>
    <%= radio_button_tag :messy, "yes" %>
    <%= label_tag :messy_no, "No" %>
    <%= radio_button_tag :messy, "no" %>
  </div>

  <div class="field">
    What Environment Are You Looking for:
    <%= label_tag :environment_loud, "Loud" %>
    <%= radio_button_tag :environment, "loud" %>
    <%= label_tag :environment_quiet, "Quiet" %>
    <%= radio_button_tag :environment, "quiet" %>
    <%= label_tag :environment_both, "A Bit of Both" %>
    <%= radio_button_tag :environment, "both" %>
  </div>

  <div class="field">
    Are You More of a:
    <%= label_tag :party_yes, "Party Animal" %>
    <%= radio_button_tag :party, "yes" %>
    <%= label_tag :party_no, "Homebody" %>
    <%= radio_button_tag :party, "no" %>
  </div>

  <div class="field">
    Are You a Good Communicator:
    <%= label_tag :communicator_yes, "Yes" %>
    <%= radio_button_tag :communicator, "yes" %>
    <%= label_tag :communicator_no, "No" %>
    <%= radio_button_tag :communicator, "no" %>
  </div>

  <div class="field">
    How Often Do You Have Friends Over:
    <%= label_tag :friends_over_never, "Never" %>
    <%= radio_button_tag :friends_over, "never" %>
    <%= label_tag :friends_over_rarely, "Rarely" %>
    <%= radio_button_tag :friends_over, "rarely" %>
    <%= label_tag :friends_over_sometimes, "Sometimes" %>
    <%= radio_button_tag :friends_over, "sometimes" %>
    <%= label_tag :friends_over_often, "Often" %>
    <%= radio_button_tag :friends_over, "often" %>
  </div>

  <div class="field">
    How Often Do You Drink at Home:
    <%= label_tag :drink_never, "Never" %>
    <%= radio_button_tag :drink, "never" %>
    <%= label_tag :drink_1_2_days, "1 or 2 Days a Week" %>
    <%= radio_button_tag :drink, "1_2_days" %>
    <%= label_tag :drink_3_5_days, "3-5 Days a Week" %>
    <%= radio_button_tag :drink, "3_5_days" %>
    <%= label_tag :drink_everyday, "Everyday" %>
    <%= radio_button_tag :drink, "everyday" %>
  </div>

  <div class="field">
    Do You Expect Any Out-of-Town Visitors:
    <%= label_tag :visitors_yes, "Yes" %>
    <%= radio_button_tag :visitors, "yes" %>
    <%= label_tag :visitors_no, "No" %>
    <%= radio_button_tag :visitors, "no" %>
  </div>

  <%= submit_tag "Submit" %>

<% end %>
