<h2><%= link_to @user.name, @user %></h2>

<% if @user == current_user %>
  <%= link_to 'Edit Questionnaire', questionnaire_path %>
<% end %>

<% if @user.responses.last %>
  <p>
    <% @user.responses.last.attributes.each do |response| %>
      <p>
        <% unless response[0] == "id" || response[0] == "user_id" || response[0] == "created_at" || response[0] == "updated_at" || response[1] == nil %>
          <%= response[0].gsub("_", " ").capitalize %> : <%= response[1].gsub("_", " ").capitalize %>
        <% end %>
      </p>
    <% end %>
  </p>
<% else %>
  <p>
    Questionnaire hasn't been filled out.
  </p>
<% end %>

<% if @user == current_user && current_user.responses.last%>
  <%= link_to 'Edit Questionnaire', questionnaire_path %>
<% end %>

| <%= link_to 'Back', :back %>
