<div id="navbar">
  <div class="navbar-left">
    <%= link_to "Home", root_path, class: "navbtn" %>
  </div>
  <div class="navbar-right">
    <% if current_user %>
      <span class="navbtn">Welcome back, </span><%= link_to current_user.name, current_user, class: "navbtn" %>
       <% if current_user.listing %>
        <%= link_to 'Your Listing', listing_path(current_user.listing), class: "navbtn" %>
       <% else %>
        <%= link_to 'List Your Apartment', new_listing_path, class: "navbtn" %>
       <% end %>
        <%= link_to "Friends", friends_path, class: "navbtn" %>
       <%= link_to "Logout", logout_path, class: "navbtn" %>
    </span>
    <% else %>
    <span id="navbutton">
    <button type="button" class="btn-primary btn-md btn-square" data-toggle="modal" data-target="#myModal">
      Login
    </button></span>
    <span id="navbutton">
    <button type="button" class="btn-primary btn-md btn-square" data-toggle="modal" data-target="#signup">
      Signup
    </button>
    </span>
    <% end %>
  </div>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
</div>


<!-- Signup modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signupLabel">Hello and Welcome! <br>Please Signup</h4>
      </div>
      <div class="modal-body">
        <span id="login_body">
          <%= link_to 'Signup with Email', 'javascript:void(0)', type: "button", class: "btn-danger signup_email login_buttons", "data-toggle" => "tab", role: "tab  " %>
          <br>
          <%= link_to "Sign up with Facebook", facebook_login_path, type: "button", class: "btn-primary login_buttons" %>
        </span>
        <br>
        Already have an account?
        <%= link_to 'Login with Email', login_path %>
      </div>
      <div class="tab-content">
        <!-- Login with Email -->
        <div class="tab-pane" id="register" role="tabpanel">
          <!-- <h1>Register</h1> -->
          <% unless current_user %>
            <%= form_tag register_path, user: @user do %>
              <%# if @user.errors.full_messages.any? %>
                <%# @user.errors.full_messages.each do |error_message| %>
                <%#= error_message if @user.errors.full_messages.first == error_message %> <br />
                <%# end %>
              <%# end %>

              <div class="field">
                <%= label_tag :name %>
                <%= text_field_tag :name %>
              </div>

              <div class="field">
                <%= label_tag :email %>
                <%= text_field_tag :email %>
              </div>

              <div class="field">
                <%= label_tag :password %>
                <%= password_field_tag :password %>
              </div>

              <div class="field">
                <%= label_tag :password_confirmation %>
                <%= password_field_tag :password_confirmation %>
              </div>

              <div class="actions">
                <%= submit_tag 'Register', type: "button", class: "btn-submit register_button" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome Back, <br>Please Login</h4>
      </div>
      <div class="modal-body">
        <span id="login_body">
          <%= link_to 'Login with Email', 'javascript:void(0)', type: "button", class: "btn-danger login login_buttons", "data-toggle" => "tab", role: "tab" %>
          <br id="mobile_button_spacing">
          <%= button_to "Login with Facebook", facebook_login_path, type: "button", class: "btn-primary login_buttons"  %>
        </span>
        <br>
        <br>
        Don't have an account?
        <%#= link_to 'Register', register_path %>
      </div>
      <div class="tab-content">
        <!-- Login with Email -->
        <div class="tab-pane" id="login" role="tabpanel">
          <!-- <h1>Login</h1> -->

          <% unless current_user %>
            <%= form_tag login_path do %>
              <div class="field">
                <%= label_tag :email %>
                <%= text_field_tag :email %>
              </div>

              <div class="field">
                <%= label_tag :password %>
                <%= password_field_tag :password %>
              </div>
              <%= submit_tag "Login", type: "button", class: " btn-submit" %>
              <br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Login with Email -->
