<!DOCTYPE html>
<html>
  <head>
    <title>Apartment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Signed in as <%= current_user.name %>
      | <%= link_to "Logout", logout_path %>
      | <%= link_to "Friends", friends_path %>      
    <% else %>
      <%= link_to 'Login', login_path %> | <%= link_to 'Register', register_path %>
      | <%= link_to "Sign in with Facebook", facebook_login_path %>
    <% end %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <%= yield %>
  </body>
</html>
